@keyframes bot{
    50%{transform: translate(-165.992px, -78.4311px);}
}

@keyframes acc{
    90%{transform: translate(-58.992px, 0px);}
}


#carrosseria{
    animation: bot 2000ms linear infinite normal forwards;
}

#eA57qgCQrZY1{
    width: 12rem;
    &:hover{
        
            animation: acc 500ms linear normal forwards;
            #carrosseria{
                animation: none;
            }
        #eA57qgCQrZY26 {
            animation: eA57qgCQrZY26_c_o 2000ms linear infinite normal forwards;
            animation-delay: .5s;
          }
        
          #eA57qgCQrZY27 {
            animation: eA57qgCQrZY27_c_o 2000ms linear infinite normal forwards;
            animation-delay: .5s;
          }
          
          #eA57qgCQrZY28 {
            animation: eA57qgCQrZY28_c_o 2000ms linear infinite normal forwards;
            animation-delay: .5s;
          }
        
          #eA57qgCQrZY29 {
            animation: eA57qgCQrZY29_c_o 2000ms linear infinite normal forwards;
            animation-delay: .5s;
          }
    }
    &:hover > #eA57qgCQrZY37_tr{
        animation: eA57qgCQrZY37_tr__tr 2000ms linear infinite normal forwards;
        animation-delay: .5s;
    }
    &:hover > #eA57qgCQrZY40_tr {
         animation: eA57qgCQrZY40_tr__tr 2000ms linear infinite normal forwards;
         animation-delay: .5s;
      }
}

//     &:hover{
//         animation: none;
//         #eA57qgCQrZY26, #eA57qgCQrZY27, #eA57qgCQrZY28,  #eA57qgCQrZY29{
//             visibility: visible;
//         }
//     }    
//     #container:hover ~ g{
        
//     }
//         #eA57qgCQrZY37_tr {
//             animation: eA57qgCQrZY37_tr__tr_lent 2000ms linear infinite normal forwards;
//         }
//         #eA57qgCQrZY40_tr {
//             animation: eA57qgCQrZY40_tr__tr_lent 2000ms linear infinite normal forwards;
//         }
    
// }





  @keyframes eA57qgCQrZY26_c_o {
    0% {
      opacity: 0.02
    }

    25% {
      opacity: 0.02
    }

    35% {
      opacity: 1
    }

    50% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }


  @keyframes eA57qgCQrZY27_c_o {
    0% {
      opacity: 0
    }

    75% {
      opacity: 0
    }

    85% {
      opacity: 1
    }

    100% {
      opacity: 0
    }
  }


  @keyframes eA57qgCQrZY28_c_o {
    0% {
      opacity: 0
    }

    50% {
      opacity: 0
    }

    60% {
      opacity: 1
    }

    75% {
      opacity: 0.233333
    }

    100% {
      opacity: 0.233333
    }
  }

 

  @keyframes eA57qgCQrZY29_c_o {
    0% {
      opacity: 0
    }

    10% {
      opacity: 1
    }

    25% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }

  #eA57qgCQrZY37_tr {
    animation: eA57qgCQrZY37_tr__tr 12000ms linear infinite normal forwards
  }
 #eA57qgCQrZY40_tr {
    animation: eA57qgCQrZY40_tr__tr 12000ms linear infinite normal forwards
  }

  @keyframes eA57qgCQrZY37_tr__tr {
    0% {
      transform: translate(163.677px, 73.6188px) rotate(0deg)
    }

    100% {
      transform: translate(163.677px, 73.6188px) rotate(3600deg)
    }
  }
  @keyframes eA57qgCQrZY40_tr__tr {
    0% {
      transform: translate(58.074px, 73.3624px) rotate(0deg)
    }

    100% {
      transform: translate(58.074px, 73.3624px) rotate(3600deg)
    }
  }
  
