
.h2-menu{
    text-align: center;
}


.cover-ant{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    height: 20rem;
    background-image: url(/src/media/cover-f4.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;
    h1{
        letter-spacing: 5rem;
    text-align: center;
    color: #680000c9;
    text-shadow: 0 0 20px #fff6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5rem;
    font-size: 4rem;
    }
}


.menu-destacats{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .trg-personatge{
        box-sizing: border-box;
    width: 15rem;
    min-height: 10rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* padding: 1rem; */
    border-radius: 2rem;
    box-shadow: 0 3px 10px #c7c7c7;
    background-color: #000;
    overflow: hidden;

        &:hover {
            box-shadow: 0 0px 0px 5px #900000;;
        }

        .th-foto-personatge{
            width: 100%;
            aspect-ratio: 1/1;
            // border-radius: 50%;
        }
        .info-personatge{
            width: 100%;
            height:100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .nom-personatge{
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
        }
        .temporada{
            font-size: .6rem;
            text-transform: uppercase;
            color: #aaa;
            text-align:center;
            margin-top: .4rem;
            margin-bottom: 1rem;

        }
        .descripcio-personatge{
            font-size: 0.8rem;
        }
    }
}

.menu-altres-malvats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .trg{
        width: 15rem;
        display: flex;
        background-color: #f1f1f1;
        margin: .8rem;
        // max-width: 5rem;

        .foto{
            object-fit: cover;
            object-position: top;
            width: 5rem;
            height: 5rem;
        }

        .nom{
            font-weight: bold;
            display: flex;
            font-size: .8rem;
            align-items: center;
            margin-left: 0.5rem;
        }
    }
}

   
@media screen and (min-width: 600px ) and (max-width: 992px ){
    
    .cover-ant{

        h1{
            font-size: 2rem;
            letter-spacing: 3rem;
            padding-left: 3rem;
        }
    }
}

@media screen and (max-width: 600px){

    .cover-ant{

        h1{
            font-size: 2rem;
            letter-spacing: 1.5rem;
            padding-left: 1.5rem;
        }
    }
}