
.h2-menu{
    text-align: center;
}

.cover-ant{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    height: 20rem;
    background-image: url(/src/media/pont.webp);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;

    h1{
        letter-spacing: 5rem;
        text-align: center;
        color: $color-fargo;
        text-shadow: 0 0 20px #fff6;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 5rem;
        font-size: 4rem;
    }
}

.pres-ant{
    margin-bottom: 5rem;
}


.dest-mayflower{
    display: flex;
    width: 50%;
    background: white;
    margin: 0 auto;
    color: #000;
    justify-content: space-between;
    border:solid .1px #fff;
        transition: .2s;
    picture{
        width: 60%;
        img{
        width: 100%;
        height: 100%;
        max-width: 724px;
        object-fit: cover;
        clip-path: polygon(1% 1%, 90% 1%, 70% 99%, 1% 99%);
    }
}
    
    div{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:left;
        &+p{
            font-weight: black;
        }
        a{
            border: 1px solid;
            display: block;
            width: 7rem;
            padding: 0.7rem;
            text-align: center;
            &:hover{
                background: $color-fargo;
                color: #fff;
            }
        }

    }

    &:hover{
        border:solid 10px #fff;
        picture{
            img{
            clip-path: polygon(1% 1%, 99% 1%, 80% 99%, 1% 99%);
            transition: .2s;


        }}
        
    }

}


@media screen and (min-width: $breakpoint-tablet ) and (max-width: $breakpoint-desktop ){
    
    .cover-ant{
        background-image: url(/src/media/pont.webp?width=992px);
        h1{
            font-size: 2rem;
            letter-spacing: 3rem;
            padding-left: 3rem;
        }
    }

    .dest-mayflower{
        flex-direction: column;
        max-width: 724px;
        picture{
            width: 100%;
            img{
            clip-path: polygon(1% 1%, 99% 1%, 99% 80%, 1% 70%);
            width: 100%;
        }}
        
        div{
            padding: 0 1.5rem 1.5rem 1.5rem;
            align-items:center;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }
        &:hover{
            picture{img{
                clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 89%);
                
            }}
            
        }
    }
}


@media screen and (max-width: $breakpoint-tablet){

    .cover-ant{
        background-image: url(/src/media/pont.webp?width=500);
        h1{
            font-size: 2rem;
            letter-spacing: 1.5rem;
            padding-left: 1.5rem;
        }
    }

    .dest-mayflower{
        flex-direction: column;
        width: 90%;
        //max-width: 724px;
        picture{
            width: 100%;
            img{
            clip-path: polygon(1% 1%, 99% 1%, 99% 80%, 1% 70%);
            width: 100%;
        }}
        
        div{
            padding: 0 1.5rem 1.5rem 1.5rem;
            align-items:center;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }
        &:hover{
            picture{img{
                clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 89%);
                
            }}
            
        }
    }

}