

//contingut detall. desktop
article{
    margin-top: 2rem;
}
section{
    margin-top: 4rem;
}

.bloc-detall{

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;

    .titol{
        font-size: 1.5 rem;
    }
    .intro{
        font-weight: bold;
    }
    .img-cover{
        width: 100%;
        background-size: cover;
    }
    .actor{
        display: flex;
        padding: 0.5rem;
        margin-top:3rem;
        background:#f1f1f1;
        border-radius: 2rem;
        align-items: center;

        .img-actor-tho{
            background-image: url("../media/BillyBobThornton(portrait).jpg");
            background-size: cover;
            border-radius: .5rem;
            width: 5rem;
            height: 5rem;
        }
        .img-actor-dav{
            width: 5rem;
            height: 5rem;
            background-image: url("../media/david-thewlis.jpg");
            background-size: cover;
            border-radius: .5rem;
        }
        .img-actor-mik{
            width: 5rem;
            height: 5rem;
            background-image: url("../media/mike-p.jpg");
            background-size: cover;
            border-radius: .5rem;
        }
        .actor-desc{
            width: calc(100% - 5rem);
            padding-left: 1rem;
            box-sizing: border-box;
        }
    }
    .premis{
        ul{
            li{
                line-height: 2rem;
                padding: 0.5rem;

                &:nth-child(even) {
                    background: #f1f1f1;
                }
                &:nth-child(odd) {
                        background: #fdfdfd;
                }
                .premi-no{
                    color: red;
                }
                .premi-si{
                    color: green;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }

}

.altres-ant{
    flex-direction: column;
    // align-items: flex-start;
    display: flex;
    img{
        width: 4rem;
        height: 4rem;
        margin-right: 2rem
    }
        li{
            
            border-bottom: dotted 0.1rem #d1d1d1;
            
            &:hover{
                background: #f1f1f1;
            }
            a{
                div{
                    display: flex;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            line-height: 4rem;
            width: 100%;
                }
            }
        }
}

@media screen and (min-width: 600px ) and (max-width: 992px ){
    .bloc-detall{
        display: block;
    }

}

@media screen and (max-width: 600px ){
    .bloc-detall{
        display: block;
        .actor{
            flex-direction: column;
            align-items: center;
            .img-actor-tho, .img-actor-mik, .img-actor-dav{
                width: 10rem;
                height: 15rem;
                position: relative;
                bottom: 2rem;
                border-radius: 2rem;
            }
            .actor-desc{
                margin-top:.5rem;
                width: 100%;
                padding: 0 1rem 2rem 1rem;
            }
        }
    }

}