
$tempsAnim: 3s;

@keyframes fadein-text{
    0% {opacity: 0;}
    50% {opacity:1;}
    100% {opacity:0;}
  }
  
  @keyframes fadein-text-final{
      0% {opacity: 0;}
      100% {opacity:1;}
    }

@keyframes fadein-text-info{

    100% {
        transform: translateY(-3rem);
        opacity:1
    }
}

@keyframes upClipHome{
    100%{
        transform: translateY(-10px)
    }
}

@keyframes upClipCotxe{
    100%{
        transform: translateY(-5px)
    }
}

.bd-m{
    min-height: 100vh;
}

.cover-fons{
    position: fixed;
    top:0;
    width: 100vw;
    min-height: 100vh;
    background-image: url(../media/cover-f4-fons.webp);
    background-size: cover;
    background-position: center;
    filter: blur(4.5rem);
    -webkit-filter: blur(4.5rem);
    z-index: -1;
}

.cover-index{
    width: 86%;
    height: 86vh;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    .text-index{
        width: 100%;
        height: 100%;
    }
    
    .text-info{
        opacity:0;
        width: 100%;
        text-align:center;
        letter-spacing: .05rem;
        position: relative;
        top:60%;
        .info-button{
            background-color: $color-fargo;

            color: #fff;
            border-radius: 3rem;
            width: 10rem;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem;
            font-weight: bold;
            border: solid 3px #fff;
            &:hover{
                color:$color-fargo;
                background-color: #fff;
                border: solid 3px $color-fargo;
            }
        }

        p{
            border: solid 1px;
        }
    }

    .prime, .hbo{
        width: 50px;
        height: 50px;
        background-size: cover;
        border: none;
        margin: .2rem;
        border-radius:.5rem;
        &:hover{
            box-shadow: 0 0 10px $color-fargo;
        }
    }



    .assitive-text{
        height: 1px; width: 1px; position: absolute; overflow: hidden; top: -10px; 
    }

    .prime:hover, .hbo:hover{
        cursor: pointer;
    }

    .text-i{
        position: relative;
        top: 20%;
        box-sizing: border-box;
        padding: 0 1rem 0 1rem;
        opacity:0;
        width: 100%;
        text-align:center;
        letter-spacing: .05rem;
        
        font-size: 3rem;
        line-height: 3rem;
        color:#fff;
        
    }

        .text1{
            animation-name: fadein-text;
            animation-duration: $tempsAnim;
            animation-delay: 0s;
        }
        
        .text1-true{
            font-weight: bold;
            animation-name: fadein-text;
            animation-duration: $tempsAnim+1;
            animation-delay: 0s;
        } 
       
        .text4{
            letter-spacing: 0rem;
            box-sizing: border-box;
            color: #fff;
            padding-left: 4rem;
            font-size: 13rem;
            font-weight: bold;

            will-change: opacity, transform;
            
            animation-name: fadein-text-final;
            animation-duration: 3s;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;
        }

        
        
        .text5{
            font-weight:400;
            color: rgba(121, 1, 1, 0.8);
            animation-name: fadein-text-info;
            animation-duration: 1s;
            animation-delay: ($tempsAnim+1s);
            animation-fill-mode: forwards;
            z-index:2;
            div{
                display: flex;
                justify-content: center;
            }
        }

    
}



.cont-logo {
    display: flex;
    align-items: center;
}


.cover{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:140rem;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text-intro{
        text-align: center;
        letter-spacing: .3rem;
        box-sizing: border-box;
        width: 70%;
        margin-top: 30rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem;
    }
}



.clip-cotxe{
    position: absolute;
    max-width: 80%;
    height:auto;
    left: 10%;
    top:20%;
    transition: .7s;
    --svg: url(/src/media/CLIPPATH-COTXE.svg);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    mask-repeat: no-repeat;

    mask-size: 45%;
    mask-position: 48.5% 84%;
}

.clip-home{
    position: absolute;
    max-width: 90%;
    height:auto;
    transition: .7s;
    //max-width: 1200px;
    left: 5%;
    top:20%;
    z-index:1;
    --svg: url(/src/media/clip-home-cover.svg);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    mask-repeat: no-repeat;
    mask-size: 20.5%;
    mask-position: 49.5% 73%;

}

.main-cover{
    margin: 0;
    max-width: none;
    height: 879px;
}

@media screen and (min-width: 1400px){
    .clip-cotxe{
        // left: calc(50% - 600px);
        width: 1200px;
        max-width:none;
        left: calc(50% - 600px);
    }
    .clip-home{
        width: 1200px;
        left: calc(50% - 600px);
    }
}

@media screen and (min-width: $breakpoint-tablet ) and (max-width: $breakpoint-desktop ) {
    .main-cover{
        height: 1065px;
    }

    .cover-index{
        width: 100%;
        min-height: 100vh;

        .menu-dret{
            width: 0;
            display: none;
        }
        
        .text-i{
            width: 100%;
            top: 40%;
            z-index: 4;
        }
        .text4{
            font-size: 8rem;
        }
        .imatge-clip{
            width: 6rem;
            height: 6rem;
        }
    }
    
    .text-info{
        display: block !important;
        width: 100% !important;
    }

    .hamb-index{
        display: block;
    }

    .clip-cotxe{
        mask-position: 53% 89%;
        mask-size: 98.7%;
    }
    .clip-home{
        mask-position: 52.5% 73%;
        mask-size: 46%;
    }
    

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {

    .cover-index{
        .text-i{
            top: 40%;
        }

        .text-info{
            width: 100% !important;
        }

            .menu-dret{
                ul{
                    li{
                        height: 3rem;
                    }                
                }
            }
        }
    }

}

@media screen and (max-width: $breakpoint-tablet){

    .main-cover{
        height: 644px;
    }

    .imatge-clip{
        display:block;
        margin: 0 auto;
    }

        
    .clip-cotxe{
        mask-position: 53% 89%;
        mask-size: 98.7%;
    }
    .clip-home{
        mask-position: 52.5% 73%;
        mask-size: 46%;
    }

    .cover-index{
        width: 100%;
        height: 60vh;

        .menu-dret{
            width: 0;        
            display: none;
        }
        


        .text-i{
            width: 100%;
            z-index: 4;
        }
        
        .text4{
            padding-left: 1.5rem;
            font-size: 5rem;
            line-height: 7rem;
        }
        .text-info{
        display: block !important;
        width:100% !important;
        top: 40%;
    }
    }

    .info-personatge{
        grid-template-columns:1fr ;
        grid-template-rows:repeat(2, 1fr) ;
        .info{
            max-width: 300px;
        }
    }

}