.main-pres{
    width: 100%; 
}

.cont-true{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 4rem;
    color: #fff;
}

.cont{
    display: flex;
    justify-content: center;
    padding-top: 3rem; 
    margin-bottom: 10rem;

    .cont-img{
        aspect-ratio: 2;
        background-size: cover;
        width: 50%;
        position: relative;
    }

    .cont-text{
        position:relative;
        top: 3rem; 
        width: 40%;
        height: 40%;
        padding: 2rem;
        border-radius: 2rem;
        background-color: #cee4f0;
        z-index:1;
        overflow: hidden;
    }    
    
    .c-img1{
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 1rem;
        left: 10%;
        
    }

    .c-text1{
        right: 1%;
    }
    
    .c-text2{
        left: 1%;
    }
    
    .c-img2{
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 1rem;
        right: 10%;
    }
}

.secc-trailers{
    
    .menu-trailers{
        min-height: 10rem;
        
        ul{   
            grid-template-columns: repeat(auto-fit, 10rem);
            justify-content: center;
            place-items: center;
            row-gap: 0;
            margin: 0;
            display: grid;

            li{
                aspect-ratio: 1 / 1.5;
                box-sizing: border-box;
                background-color: #f1f1f1;
                border-radius: 0.7rem;
                width: 18%;
                margin-bottom: 1.5rem;
                transition: all .2s;
                opacity: .4;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 9rem;

                &:hover{
                    opacity: 1;
                    cursor: pointer;
                } 

                div{
                    text-align: center;
                    width: 100%;
                    background-color: rgb(0 0 0 / 50%);
                    padding: 1rem;
                    color: #fff;
                    text-transform: uppercase;
                }
            } 
        }
    }
}

h3{
    text-align: center;
}

.trailers{
    margin-top: 6rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.presentacio-ant{
    width: 100%;

    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem 1rem;
    color: #fff;
    box-sizing: border-box;
    .d-text{
        width: 25%; 
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align:center;

        .link-ant{
            color: #fff;
            display: block;
            width: fit-content;
            padding: 1rem;
            border: solid 1px;
            border-radius: 2rem;
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;

            &:hover{
                background-color: $color-fargo;
                border-color: $color-fargo;
            }
        }
    }
}

.cover-trailer{
    width: 98%;
    margin-left: 1%;
    aspect-ratio: 16/9;
    background-image: url(/src/media/fargo-s2-llarga.webp);
    background-size: cover;
}

.temporada1{
    background-image: url(/src/media/temporada1.jpg?as=webp&width=144);
    background-size: cover;
    background-repeat: no-repeat;
}

.temporada2{
    background-image: url(/src/media/temporada2.jpg?as=webp&width=144);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada3{
    background-image: url(/src/media/temporada3.jpg?as=webp&width=144);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada4{
    background-image: url(/src/media/temporada4.jpg?as=webp&width=144);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada5{
    background-image: url(/src/media/temporada5.jpg?as=webp&width=144);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.selecc{
    opacity: 1 !important;
}

#svg_anim {
    animation: anim_clippath 12s infinite cubic-bezier(.5, 0, 0, 1);
}

.sobre-fargo-svg {
    display: flex;
    align-items: center;
}


@media screen and (min-width: $breakpoint-tablet ) and (max-width: $breakpoint-desktop ){
    
    .cover-pres{

        h1{
            font-size: 2rem;
            letter-spacing: 3rem;
            padding-left: 3rem;
        }
    }

    .contingut{
        width: 75%;
    }

    .secc-trailers{
        .menu-trailers{
            ul{
                li{
                    aspect-ratio: 1;
                }
            }
        }
    }
    
    .presentacio-ant{
        display:block;
        text-align: center;
        box-sizing: border-box;
        
        .d-text{
            width:35%
        }
    }
}



@media screen and (max-width: $breakpoint-tablet){

    .cover-pres{

        h1{
            font-size: 2rem;
            letter-spacing: 1.5rem;
            padding-left: 1.5rem;
        }
    }

    .contingut{
        width: 90%;
    }

    h2{
        margin-left: 5%
    }

    main{
        width: 100%;
        margin: 0;
    }

    .secc-trailers{
        .menu-trailers{
            ul{
                li{
                    aspect-ratio: 2/1;
                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .cont{
        margin-bottom:8rem;

        .cont-img{
            display:none;
        }

        .cont-text{
            margin-left: auto;
            margin-right: auto;
            right: auto !important;
            left: auto !important;
            width: 90% !important;
            
        }
    }

    .cont-cont{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .cont-true{
                width: 70%;
                margin-bottom: 0;
                color:#fff;
            }
    }

    .presentacio-ant{
        display:block;
        text-align: center;
        box-sizing: border-box;
        width: 70%;
        margin: 0 auto;
        .d-text{
            width:100%
        }
    }
}
