.main-pres{
    width: 100%;
}

.cont-true{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 4rem;
    color: #fff;
}

.cont{
    display: flex;
    justify-content: center;
    padding-top: 3rem; 
    margin-bottom: 10rem;

    .cont-img{
        aspect-ratio: 2;
        background-size: cover;
        border-radius: 1rem;
        width: 50%;
        position: relative;
    }

    .cont-text{
        position:relative;
        top: 3rem; 
        width: 40%;
        height: 40%;
        padding: 2rem;
        border-radius: 2rem;
        background-color: #cee4f0;
        z-index:1;
    }    
    
    .c-img1{
        background-image: url(/src/media/cover9.jpg);        
        left: 5%;
    }

    .c-text1{
        right: 1%;
    }
    
    .c-text2{
        left: 1%;
    }
    
    .c-img2{
        background-image: url(/src/media/cover-neu.png);        right: 5%;
    }
}

.cover-pres{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    height: 30rem;
    background-image: url(/src/media/cover-ma.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;

    h1{
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 5rem;
        padding-left: 5rem;
        text-align: center;
        font-size: 4rem;
        color: $color-fargo;
        text-shadow: 0px 0px 5px #fff;
    }
}


.secc-trailers{
    
    .menu-trailers{
        min-height: 10rem;
        
        ul{   
            grid-template-columns: repeat(auto-fit, 10rem);
            justify-content: center;
            place-items: center;
            row-gap: 0;
            margin: 0;
            display: grid;

            li{
                aspect-ratio: 1 / 1.5;
                box-sizing: border-box;
                background-color: #f1f1f1;
                border-radius: 0.7rem;
                width: 18%;
                margin-bottom: 1.5rem;
                transition: all .2s;
                opacity: .4;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 9rem;

                &:hover{
                    opacity: 1;
                    cursor: pointer;
                } 

                div{
                    text-align: center;
                    width: 100%;
                    background-color: rgb(0 0 0 / 50%);
                    padding: 1rem;
                    color: #fff;
                    text-transform: uppercase;
                }
            } 
        }
    }
}

h3{
    text-align: center;
}

.trailers{
    margin-top: 6rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.presentacio-ant{
    width: 100%;
    // background-image: url(/src/media/PAC2/cover_s4.jpg);
    // background-size: cover;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem 1rem;
    color: #fff;

    .d-text{
        width: 25%; 
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align:center;

        .link-ant{
            color: #fff;
            display: block;
            width: fit-content;
            padding: 1rem;
            border: solid 1px;
            border-radius: 2rem;
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;

            &:hover{
                background-color: $color-fargo;
                border-color: $color-fargo;
            }
        }
    }
}

.mod-shad{
    box-shadow: 0 0px 15px #fffac3 !important;
}

.antag-s4{
    width: 100%;
}

.pres-antag{
    text-align:center;
    text-transform: uppercase;
    background-color: #000;

    a{
        display:block
    }

    p{
        font-size: .7rem;
        line-height: 1rem;
    }

    .link-ant{
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        text-align: center;
        color: $color-fargo;
        border: solid 2px  $color-fargo;
        border-radius: 2rem;
        padding: 0 1rem 0 1rem;
        font-size: .8rem;
        line-height: 2rem;
    }
}

.menu-ant{
    text-align: center;
    margin-top: 3rem;

    ul{
        justify-content: center;
        place-items: center;
        row-gap: 0;
        margin: 0;
        grid-template-columns: repeat(auto-fit, 16rem);
        display: grid;

        li{
            position: relative;
            width: 15rem;
            aspect-ratio: 1/1;
            background-color: #f1f1f1;
            margin: .3rem;
            
            transition: .2s;
            box-sizing: border-box;
        
            &:hover{
                bottom: .5rem;
            }

            a{
                .malvo{
                    background-image: url(/src/media/fperfilmalvo.jpg);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    filter: grayscale(60%);
                }

                .milligan{
                    background-image: url(/src/media/fperfilmilligan.jpg);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    filter: grayscale(60%);
                }

                .varga{
                    background-image: url(/src/media/fperfilvargas.jpg);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    filter: grayscale(60%);
                }
            }
        }
    }
}

.cover-trailer{
    width: 100%;
    aspect-ratio: 16/9;
}

.temporada1{
    background-image: url(/src/media/temporada1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.temporada2{
    background-image: url(/src/media/temporada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada3{
    background-image: url(/src/media/temporada3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada4{
    background-image: url(/src/media/temporada4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.temporada5{
    background-image: url(/src/media/temporada5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.selecc{
    opacity: 1 !important;
}


@media screen and (min-width: $breakpoint-tablet ) and (max-width: $breakpoint-desktop ){
    
    .cover-pres{

        h1{
            font-size: 2rem;
            letter-spacing: 3rem;
            padding-left: 3rem;
        }
    }

    .contingut{
        width: 75%;
    }

    .secc-trailers{
        .menu-trailers{
            ul{
                li{
                    aspect-ratio: 1;
                }
            }
        }
    }
    
    .presentacio-ant{
        display:block;
        text-align: center;
        box-sizing: border-box;
        
        .d-text{
            width:100%
        }
    }
}



@media screen and (max-width: $breakpoint-tablet){

    .cover-pres{

        h1{
            font-size: 2rem;
            letter-spacing: 1.5rem;
            padding-left: 1.5rem;
        }
    }

    .contingut{
        width: 90%;
    }

    h2{
        margin-left: 5%
    }

    main{
        width: 100%;
        margin: 0;
    }

    .secc-trailers{
        .menu-trailers{
            ul{
                li{
                    aspect-ratio: 2/1;
                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .cont{
        margin-bottom:8rem;

        .cont-img{
            display:none;
        }

        .cont-text{
            margin-left: auto;
            margin-right: auto;
            right: auto !important;
            left: auto !important;
            width: 90% !important;
            
        }
    }

    .cont-cont{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .cont-true{
                width: 70%;
                margin-bottom: 0;
                color:#fff;
            }
    }

    .presentacio-ant{
        display:block;
        text-align: center;
        box-sizing: border-box;
        
        .d-text{
            width:100%
        }
    }
}
