<footer>

    <!-- <div><img class='logo-f' src="/src/media/PAC2/logo-negre.svg" alt=""></div>  -->
    
    <div class="logo-f"></div>

    <ul>
      <li>2023 Nicolau Roca Busacker</li>
      <li>|</li>
      <li><a href="index.html">index.html</a></li>
      <li><a href="presentacio.html">Sobre la sèrie</a></li>
      <li><a href="categoria.html">Antagonistes de Fargo</a></li>
      <li><a href="detall-mayflower.html">Oraetta Mayflower</a></li>
      <li><a href="bibliografia.html">Recursos i atribucions</a></li>
    </ul>
    
  </footer>