<header>
    <div class="cont-logo">
      <div class="logo" onclick="window.location.href='index.html'"></div>
      <a href="index.html" class="fargo-typo-header">FARGO</a>
    </div>
      <div class="hamb" id="hamb-menu"></div>
      <nav class="menu-header">
        <ul>
          <li><a href="presentacio.html"><span>Sobre la sèrie</span></a></li>
          <li><a href="categoria.html"><span>Antagonistes</span></a></li>
          <li><a href="detall-mayflower.html"><span>Oraetta Mayflower</span></a></li>
          <li><a href="bibliografia.html"><span>Recursos Mèdia</span></a></li>
        </ul>
      </nav>
      <div class="menu-nav-media" id="nav-media">
        <ul>
            
            <!-- <li><a href="index.html"><div class="logo"></div></a></li> -->
            <!-- <li><a href="index.html"><div class="fargo-typo-header">FARGO</div></a></li> -->

          <li><a href="presentacio.html">Sobre la sèrie (Presentació)</a></li>
          <li><a href="categoria.html">Antagonistes de Fargo (Categoria)</a></li>
          <!-- <li class="detall"><img src="media/fperfilmalvo.jpg" alt="Foto del personatge Lorne Malvo"><a href="detall-malvo.html">Lorne Malvo (Detall)</a></li>
          <li class="detall"><img src="media/fperfilmilligan.jpg" alt="Foto del personatge Mike Milligan"><a href="detall-milligan.html">Mike Milligan (Detall)</a></li>
          <li class="detall"><img src="media/fperfilvargas.jpg" alt="Foto del personatge V. M. Vargas"><a href="detall-varga.html">V.M. Vargas (Detall)</a></li> -->
          <li class="detall"><a href="detall-mayflower.html"><img src="/src/media/cara-mayflower.webp" alt="Foto del personatge Oraetta Mayflower">Oraetta Mayflower (Detall)</a></li>
          <li><a href="bibliografia.html">Recursos Multimèdia</a></li> 

        </ul>
      </div>
    </header>