@charset "UTF-8";
/*CONFIGURACIÓ DEL DISSENY RESPONSIU  
    MOBILE FIRST  */
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

abbr {
  text-decoration: none;
}

main {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 5rem;
  box-shadow: #797979 0px 3px 7px;
  background-color: #fff;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  position: sticky;
  top: 0;
}
header .menu-header {
  height: 100%;
}
header .menu-header ul {
  display: flex;
  height: 100%;
}
header .menu-header ul li {
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
header .menu-header ul .actual {
  border-bottom: solid 3px;
}

footer {
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 15%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px -3px 15px #aaa;
}
footer div {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.mostra {
  display: block;
}

.cover-fons {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(../media/cover-ma.jpg);
  background-size: cover;
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  z-index: -1;
}

.breadcrumb {
  margin-left: 5%;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.breadcrumb ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.breadcrumb ul li:not(:last-child)::after {
  margin: 0.25rem;
  content: ">";
}

.logo {
  height: 6rem;
  width: auto;
}

.contingut {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.fargo-typo-sans {
  font-family: "Open Sans", sans-serif;
  color: #8d051b;
  font-weight: 900;
  letter-spacing: 6rem;
  margin-right: -6rem;
  font-size: 3rem;
}

.fargo-typo-header {
  font-family: "Open Sans", sans-serif;
  color: #710000;
  font-weight: 900;
  font-size: 2rem;
}

.f-perfil-malvo {
  background-image: url("../media/fperfilmalvo.jpg");
  background-size: cover;
}

.f-perfil-milligan {
  background-image: url("../media/fperfilmilligan.jpg");
  background-size: cover;
}

.f-perfil-vargas {
  background-image: url("../media/fperfilvargas.jpg");
  background-size: cover;
}

/*CONFIGURACIÓ DEL DISSENY RESPONSIU 
    ESTILS MODIFICATS PER TABLET  */
/* CONFIGURACIÓ DEL DISSENY RESPONSIU 
    ESTILS MODIFICATS PER ESCRIPTORI  */
@keyframes fadein-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-text-final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bd-m {
  height: 100vh;
}

.cover-index {
  background-image: url(../media/cover-ma.jpg);
  background-size: cover;
  width: 86%;
  height: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: #909090 0px 0px 20px;
  max-width: 1250px;
}
.cover-index .menu-dret {
  background-color: #fff;
  width: 30%;
  height: 100%;
  float: right;
  right: 0;
  display: flex;
  align-items: center;
}
.cover-index .menu-dret ul {
  width: 100%;
}
.cover-index .menu-dret ul li {
  width: 100%;
  position: relative;
  color: #aaa;
  height: 4rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  letter-spacing: 0.1rem;
}
.cover-index .menu-dret ul li:not(:last-child) {
  border-bottom: solid 1px #909090;
}
.cover-index .menu-dret ul li img {
  height: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: grayscale(1);
  opacity: 0.5;
  margin-right: 0.3rem;
}
.cover-index .menu-dret ul li:hover {
  border-left: solid 3px #ddd;
  color: #000;
}
.cover-index .menu-dret ul li:hover img {
  opacity: 1;
}
.cover-index .menu-dret ul .detall {
  justify-content: flex-start;
}
.cover-index .text-i {
  opacity: 0;
  width: 70%;
  text-align: center;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 60%;
  text-shadow: #fff 1px 0 10px, #fff 1px 0 10px;
}
.cover-index .text1 {
  content: "THIS IS A TRUE STORY.";
  animation-name: fadein-text;
  animation-duration: 4.5s;
  animation-delay: 0s;
}
.cover-index .text1-true {
  content: "THIS IS A TRUE STORY.";
  font-weight: bold;
  animation-name: fadein-text;
  animation-duration: 5.5s;
  animation-delay: 0s;
}
.cover-index .hide {
  visibility: hidden;
}
.cover-index .text2 {
  content: "At the request of the survivors, the names has been changed.";
  animation-name: fadein-text;
  animation-duration: 4.5s;
  animation-delay: 5s;
}
.cover-index .text3 {
  content: "Out of respect of the dead, the rest has been told exactly as it ocurred.";
  animation-name: fadein-text;
  animation-duration: 4.5s;
  animation-delay: 9.5s;
}
.cover-index .text4 {
  content: "FARGO";
  font-size: 2rem;
  letter-spacing: 4rem;
  font-weight: bold;
  color: rgba(121, 1, 1, 0.8);
  animation-name: fadein-text-final;
  animation-duration: 4.5s;
  animation-delay: 14s;
  animation-fill-mode: forwards;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140rem;
  align-items: center;
  justify-content: center;
  background-image: url(../media/sang-neu-vertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cover .text-intro {
  text-align: center;
  letter-spacing: 0.3rem;
  box-sizing: border-box;
  width: 70%;
  margin-top: 30rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}
@keyframes fletxa-cover-bottom {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.9;
  }
}
.cover .cover-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  animation: fletxa-cover-bottom 3s infinite;
  font-size: 5rem;
  text-align: center;
}
.cover .t_intro {
  color: #000;
  opacity: 0;
  transition: 2s;
}
.cover .t_intro_t {
  opacity: 0;
  transition: 4s;
}
.cover .mes-info {
  border: 3px solid;
  border-radius: 3rem;
  line-height: 5rem;
  text-align: center;
  width: 90%;
  height: 5rem;
  margin-left: auto;
  font-weight: bold;
  margin-right: auto;
  margin-top: 1rem;
}
.cover .mes-info:first-of-type {
  margin-top: 10rem;
}

#open-menu-header {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ddd;
}

#close-menu-header {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ddd;
}

#menu-lateral-mb {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 0%;
  transition: 0.5s;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 10px 0px 200px 6px;
  z-index: 999;
}

.item-head {
  white-space: nowrap;
  padding: 1.5rem;
}

.item-menu-lat {
  padding: 4rem;
  font-size: 4rem;
  min-width: 10rem;
  height: 4rem;
  border-bottom: solid 1px #ddd;
  white-space: nowrap;
}

.fargo-typo-cover {
  font-family: "Open Sans", sans-serif;
  color: #350000;
  font-weight: 900;
  letter-spacing: 6rem;
  margin-right: -6rem;
  font-size: 3rem;
}

.plat {
  width: 3rem;
  height: 3rem;
}

.h2-menu {
  text-align: center;
}

.menu-destacats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-destacats .trg-personatge {
  box-sizing: border-box;
  width: 12rem;
  min-height: 10rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: rgb(199, 199, 199) 0px 3px 10px;
  padding: 1rem;
}
.menu-destacats .trg-personatge:hover {
  box-shadow: rgb(255, 152, 152) 0px 3px 10px;
}
.menu-destacats .trg-personatge .th-foto-personatge {
  width: 100%;
  aspect-ratio: 1/1;
}
.menu-destacats .trg-personatge .info-personatge {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-destacats .trg-personatge .nom-personatge {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.menu-destacats .trg-personatge .temporada {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #aaa;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}
.menu-destacats .trg-personatge .descripcio-personatge {
  font-size: 0.8rem;
}

.menu-altres-malvats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-altres-malvats .trg {
  width: 15rem;
  display: flex;
  background-color: #f1f1f1;
  margin: 0.8rem;
}
.menu-altres-malvats .trg .foto {
  object-fit: cover;
  object-position: top;
  width: 5rem;
  height: 5rem;
}
.menu-altres-malvats .trg .nom {
  font-weight: bold;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  margin-left: 0.5rem;
}

.bloc-detall .titol {
  font-size: 1.5 rem;
}
.bloc-detall .intro {
  font-weight: bold;
}
.bloc-detall .img-cover {
  width: 100%;
  background-size: cover;
}
.bloc-detall .actor {
  display: flex;
}
.bloc-detall .actor .img-actor {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: #6c6c6c 0px 0px 7px;
  background-image: url("../media/BillyBobThornton(portrait).jpg");
  background-size: cover;
}
.bloc-detall .actor .actor-desc {
  width: calc(100% - 5rem);
  padding-left: 1rem;
  box-sizing: border-box;
}
.bloc-detall ul li {
  line-height: 2rem;
}
.bloc-detall ul li .premi-no {
  color: red;
}
.bloc-detall ul li .premi-si {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

.cover-trailer {
  width: 100%;
  aspect-ratio: 16/9;
}

.contingut-pres {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.contingut-pres .cover-trailer {
  max-width: 100%;
  aspect-ratio: 16/9;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .img-temp {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 4rem;
  margin-left: 0.5rem;
  background-color: #fff;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .temporada1 {
  background-image: url(/src/media/temporada1.jpg);
  background-size: 100%;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .temporada2 {
  background-image: url(/src/media/temporada2.jpg);
  background-size: 100%;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .temporada3 {
  background-image: url(/src/media/temporada3.jpg);
  background-size: 100%;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .temporada4 {
  background-image: url(/src/media/temporada4.jpg);
  background-size: 100%;
}
.contingut-pres .menu-temporades ul li:not(:first-of-type) .temporada5 {
  background-image: url(/src/media/temporada5.jpg);
  background-size: 100%;
}
.contingut-pres .menu-temporades ul .temp:hover {
  box-shadow: #646464 0px 0px 4px;
}
.contingut-pres .menu-temporades ul .selecc {
  background-color: #f1f1f1;
}
.contingut-pres .menu-temporades ul .tit-trailers {
  text-align: center;
}
.contingut-pres .intro {
  grid-area: 2/1/2/2;
}

.pres-main {
  width: 50%;
  margin-left: 15%;
}
.pres-main .intro {
  font-weight: bold;
}

.personatges a {
  color: rgb(92, 0, 0);
  font-weight: bold;
  text-decoration: underline;
}
.personatges a:hover {
  color: darkblue;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper > div {
  border-radius: 5px;
  color: #000;
  background-color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
}

.one {
  grid-column: 1/3;
  grid-row: 1;
}

.two {
  grid-column: 3;
  grid-row: 1;
}

.three {
  grid-column: 1;
  grid-row: 2/4;
}
.three .link-ant {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}
.three .link-ant:hover {
  box-shadow: 0px 0px 30px rgb(220, 220, 220);
}
.three .link-ant .title {
  border-bottom: solid 1px;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}
.three .link-ant q {
  font-size: 1.2rem;
  font-style: italic;
}
.three .link-ant .link {
  text-align: right;
}

.four {
  grid-column: 2/4;
  grid-row: 2/5;
  padding: 1.5rem;
}
.four .cover-cont img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/1;
}

.five ul {
  width: 100%;
}
.five ul li {
  width: 100%;
  position: relative;
  color: #aaa;
  height: 4rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  letter-spacing: 0.1rem;
  margin-top: 0.4rem;
}
.five ul li:not(:last-child) {
  border-bottom: solid 1px #909090;
}
.five ul li img {
  height: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.3rem;
}
.five ul li:hover {
  color: #000;
}
.five ul li:hover img {
  opacity: 1;
}

.imatges {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 4px;
  justify-content: center;
}

.img-item {
  height: 15rem;
  margin: 0.3rem;
  position: relative;
}
.img-item:hover {
  opacity: 0.9;
}
.img-item img {
  height: 100%;
}
.img-item div {
  background-color: rgba(0, 0, 0, 0.5019607843);
  width: 100%;
  bottom: 0;
  position: absolute;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  padding-left: 0.3rem;
  padding-right: 0.6rem;
}
.img-item div p {
  color: rgba(255, 255, 255, 0.6666666667);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.img-item div a {
  color: rgba(255, 255, 255, 0.6666666667);
}

.column {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-height: 25rem;
}

/*# sourceMappingURL=estils.css.map */
